h5 {
  color: #646464;
}
img {
  display: block;
  margin: 0 auto;
}

.col-lg-2 {
  width: 300px;
}
.temp-cards {
  display: inline;
}

.card-title {
  padding-bottom: 1rem;
}
.card-text {
  font-size: 2.5rem;
}
.conditions {
  font-size: 16px;
}
.card-deck .card {
  margin-right: 0;
  margin-left: 0;
}
.card-body {
  padding-left: 1px;
  padding-right: 1px;
}
#update {
  font-size: 1.25rem;
  color: #646464;
}
#currentTemp {
  font-size: 3.5rem;
}
#current-conditions {
  font-size: 16px;
  font-style: italic;
  padding-bottom: 2rem;
}

#header {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
#body {
  background-image: linear-gradient(135deg, #f5f7fa 20%, #c3cfe2 100%);
}
