h5 {
  color: #646464;
}
img {
  display: block;
  margin: 0 auto;
}
.col-lg-2 {
  width: 300px;
}
.temp-cards {
  display: inline;
}
.temp {
  font-size: 3.5rem;
}
.card-title {
  font-size: 16px;
}
.card-text {
  font-size: 2.5rem;
}
.low {
  font-size: 2rem;
}
.card-deck .card {
  margin-right: 0;
  margin-left: 0;
}
.card-body {
  padding-left: 1px;
  padding-right: 1px;
}

#update {
  font-size: 1.25rem;
  color: #646464;
}
